body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error{
  color: rgb(159, 2, 2);
  padding: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead, th {
  background-color: grey;
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid black;
}
.user-list-row:hover {
  background-color: lightblue;
}

td {
  padding: 10px;
}

.user-profile-key{
  font-weight: bold;
}
